body {
	background-color: #ecf0f1;
	font-family: Arial, Helvetica, sans-serif;
}

.centrar {
	text-align: center;
}
.img-resp {
  max-width: 100%;
}

.mayusculas {
	text-transform: uppercase;
}

.titulos {
	width: 100%;
	background-color: #bdc3c7;
	box-shadow: inset  3px 3px 10px whitesmoke;
	padding: 10px
}

nav {
	background-color: #bdc3c7;
	margin-top: 20px;
	position: relative;
	text-align: center;
	width: 100%;
}

nav ul {
	list-style: none; /*quita las viñetas*/
	margin: 0;
	padding: 0;
	overflow: hidden; /*oculta muestra o crea scroll*/
}


nav>ul>li {
	float: left;
}

nav ul li a {
	text-decoration: none;
	display: block;
	color: black;
	padding: 10px 20px;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
}

nav ul li a:hover {
	background-color: #7f8c8d;
}

/*submenu*/
nav ul li div {
	width: 20%;
	position: absolute;
	left: -1000px;
	box-sizing: border-box;
	background-color: #bdc3c7;
	opacity: 0;
	transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
}

nav >ul >li:hover div {
	display: table;
	opacity: 1;
	/*transform:rotate(360deg);*/
}

nav >ul >li:hover div.sub1 {
left: 77px;
}

nav >ul >li:hover div.sub2 {
left: 245px;
}

h1 {
	color: #191C91;
	text-shadow: 3px 3px 5px black;

}